.selectedButton {
    color: white;
    /* display: block;
    border-bottom: 2px solid white;
    border-radius: 0; 
    padding-right: 0;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 10px; */
}