.orderedListStyle {
    font-size: 1.4rem;
    font-weight: 500;
}

.orderedListEl {
    margin-top: 15px;
}

.listHeading {
    font-weight: 500;
}

.applicationItems {
    margin-top: 10px;
    margin-bottom: 10px;
}